.adminContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  overflow-x: hidden;
}

.mainContent {
  display: flex;
  flex: 1;
}

.contentContainer {
  flex: 1;
  margin-left: 250px;
  padding: 20px;
  padding-top: 80px;
  background-color: #f8f9fa;
}

h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.blogContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px 0;
}

.blogBoxLink {
  text-decoration: none;
  color: inherit;
}

.blogBox {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.thumbnailContainer {
  flex: 8;
  overflow: hidden;
}

.blogThumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.blogBox h2 {
  flex: 2;
  margin: 0;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-top: 1px solid #ddd;
}

.blogBox:hover {
  transform: scale(1.02);
}

.published {
  border: 2px solid green;
}

.unpublished {
  border: 2px solid red;
}
