body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.article-container {
  max-width: 1200px;
  margin: 40px auto 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
  margin-top: 20px;
  letter-spacing: 3px;
  background: #f3f3f3;
  border-left: solid 10px #000000;
  border-bottom: solid 3px #000000;
}

h2 {
  color: #333;
  margin-top: 20px;
  font-size: 125% !important;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  object-fit: contain;
  max-height: 300px;
}

.mokuji {
  color: #111111;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.title {
  display: block;
  font-size: 2em;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

#tableOfContents {
  margin-top: 20px;
  padding: 10px;
  background-color: #f4f4f4;
}

#tableOfContents h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #000000;
}

#tableOfContents ul {
  list-style-type: none;
  padding: 0;
}

#tableOfContents li {
  margin-bottom: 5px;
}

#tableOfContents a {
  display: block;
  border-bottom: 1px solid #e7e7e7;
  padding: 8px;
  color: #000000;
  text-decoration: none;
  border-radius: 5px;
}

#tableOfContents a:hover {
  background-color: #dddddd;
}

.sectionTitle {
  font-size: 1.2em;
  margin-top: 20px;
  color: #333;
  border-bottom: 1px solid #ccc;
  border-left: 7px solid rgb(0, 0, 0);
}

.sectionContent {
  color: #555;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

#blogContent a {
  text-decoration: underline;
  cursor: pointer;
}

#blogContent a:link {
  color: inherit;
}

#blogContent a:visited {
  color: inherit;
}

.date {
  font-size: 0.9em;
  color: #555;
  margin-bottom: 20px;
  padding: 5px 10px;
  background-color: #f9f9f9;
  border-left: solid 4px #333;
  display: inline-block;
}
