.main {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 80px;
  font-family: "Arial", sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #f8f9fa;
}

.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.categorySelect {
  padding: 8px;
  font-size: 1rem;
}

.searchInput {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

.blogList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px 0;
}

.blogBoxLink {
  text-decoration: none;
  color: inherit;
}

.blogBox {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.blogBox:hover {
  transform: scale(1.02);
}

.thumbnailContainer {
  flex: 8;
  overflow: hidden;
}

.blogThumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.blogBox h2 {
  flex: 2;
  margin: 0;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-top: 1px solid #ddd;
}

.noBlogs {
  text-align: center;
  color: #888;
  font-size: 1.2rem;
}
